# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lab2project/.vs/lab2project/FileContentIndex/1c1e3f1b-31b6-4efd-b369-dd52cb1187e4.vsidx
lab2project/.vs/lab2project/FileContentIndex/1f939a55-304a-4ffe-9d4b-966d244d51f6.vsidx
/lab2project/.vs
/lab2project/lab2project/x64
/lab2project/x64
/.vs/lab2.3/v17
/.vs/lab2.3/FileContentIndex
/.vs
